

body {
  overflow-y: hidden;
  overflow-x: hidden;

  background-color: rgb(20, 21, 24);
}

.bg-color {
  background-color: rgb(36, 36, 41);
}

html {
 
  cursor: url(https://cur.cursors-4u.net/games/gam-10/gam987.ani), url(https://cur.cursors-4u.net/games/gam-10/gam987.png), auto !important;
}

/*




/*動畫區*/

@keyframes scaleUp {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

}

@keyframes scaleDown {
  from {
    scale: 1.1;
  }

  to {
    scale: 1;
  }
}

@keyframes typing {

  from {

    width: 0.4ch;
    height: 2ch;
  }

  to {

    width: 13ch;
    height: 2ch;
  }

}



@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*----------bootstrap-navbar-css------------*/


/*首頁內容*/


/*layout*/
.layout-footer{
top: 1000px;
  z-index: 999;
  height: 200px;
  position: relative;
  background-color: rgb(240, 239, 239);
}

.layout-header {
  width: 100%;
  z-index: 999;
}



.main-layout {
  width: 100%;

}


